<html ng-app="Askapp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>健康十万个为什么-专家解答</title>
    <link href="/Content/css/ionic.min.css" rel="stylesheet" />
    <link href="/Content/css/webapp.css" rel="stylesheet" />
    <script src="/Content/js/ionic.bundle.min.js"></script>
    <title>健康十万个为什么-问题详情</title>
    <script type="text/javascript">
        var app = angular.module('Askapp', ['ionic']);
        app.controller("AskCtrl", function ($scope) {
            $scope.askitems = [];// [{ name: "3" }, { name: "2" }, { name: "1" }];
            $scope.askitems = [{ "name": "3" }, { "name": "2" }, { "name": "1" }];
            $scope.doRefresh = function () {
                $scope.askitems = [{ name: "1" }, { name: "2" }, { name: "3" }];
                $scope.$broadcast('scroll.refreshComplete');
            };
        });
    </script>
</head>
<body ng-controller="AskCtrl">
    <ion-header-bar class="bar-green">
        <button class="button icon ion-ios-arrow-left"></button>
        <h1 class="title">审兰阔</h1>
    </ion-header-bar>
    <ion-content scroll="true">
        <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
        <ion-list>
            <ion-item collection-repeat="askitem in askitems">
                {{askitem.name}}
            </ion-item>
        </ion-list>
    </ion-content>
</body>
</html>
